@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

.container-photo-central {
    font-family: 'Playfair Display', serif;
}

/* .Photo-central {
    height: 60vmin;
    width: 100%;
    margin-top: 30px;
  } */

  .jumbotron {
    background-image: url("/Chile_Paine.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 60vmin;
  }