#root {
  height: 100%;
  position:relative
}

.App {
  text-align: center;
  min-height: 100%;
  position: relative;
  padding-bottom: 5px;
  padding-top: 20px;
}

.homepage {
  padding: 6% 1.8% 0% 1.8%;
  padding-bottom: 100px;
}